<h1 class="title">Modifica anagrafica <%= @person.nome %> <%= @person.cognome %></h1>

<%= render 'form', person: @person %>

<%= link_to 'Scheda anagrafica', @person %> |
<%= link_to 'Torna indietro', people_path %>
