
<div id="reg">
<style>
.vl {
}
/* Pen-specific styles */
* {
  box-sizing: border-box;
}

body { 
  font-family: sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

section {
  width: 100%;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 1rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.left-half {
  float: left;
  width: 50%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.right-half {
  float: right;
  width: 50%;
  border-bottom: 2px solid black;
}
}

</style>
  <h1 class="title is-2">Elenco alunni catechismo anno <%= @year.anno %></h1>
  <% i = 0 %>
  <% @people.each do |person| %>
  <% if i.even? %>
  <section class="container section">
    <div class="left-half">
  <% end %>
  <% unless i.even? %>
    <div class="right-half">
  <% end %>

    <p>
      <strong>Cognome:</strong>
      <%= person.cognome %>
    </p>

    <p>
      <strong>Nome:</strong>
      <%= person.nome %>
    </p>

    <p>
      <strong>Battesimo:</strong>
      <%= person.battesimo %>
    </p>

    <p>
      <strong>Parrocchia:</strong>
      <%= person.parrocchia %>
    </p>

    <p>
      <strong>Data di nascita:</strong>
      <%= person.data_di_nascita %>
    </p>

    <p>
      <strong>Luogo di nascita:</strong>
      <%= person.luogo_di_nascita %>
    </p>

    <p>
      <strong>Padre:</strong>
      <%= person.padre %>
    </p>

    <p>
      <strong>Madre:</strong>
      <%= person.madre %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= person.telefono %>
    </p>

    <p>
      <strong>Cellulare:</strong>
      <%= person.cellulare %>
    </p>

    <p>
      <strong>Indirizzo:</strong>
      <%= person.indirizzo %>
    </p>

    <p>
      <strong>Comune:</strong>
      <%= person.comune %>
    </p>

    <p>
      <strong>Cap:</strong>
      <%= person.cap %>
    </p>
    <% if !person.group.nil? %>
  <p>
      <strong>Gruppo:</strong>
      <%= person.group.nome %> <%= $ANNO_DI_CATECHISMO[person.group.anno] %>
    </p>
  <% elsif person.subscriptions.any? %>
  <p>
      <strong>Gruppo:</strong>
      No - <%= $ANNO_DI_CATECHISMO[person.subscriptions.last.anno] %>
    </p>
  <% end %>

  </div>
  <% unless i.even? %>
  </section>
  <% end %>
  <% i += 1 %>
  <% end %>
</div>

    <script> 

        function printDiv() { 
            var divContents = document.getElementById("reg").innerHTML; 
            var head = $('head').html(); 
            var a = window.open('', '', 'height=1500, width=1000'); 
            if(!a || a.closed || typeof a.closed=='undefined') 
            { 
                location = location.origin;
              Swal.fire(
                {type: 'error',
                title: 'Impossibile mandare in stampa',
                text: "Verifica di avere attivato i popups sul tuo browser, necessari per poter mandare in stampa l'elenco."});
            } else {
            a.document.write(head); 
            a.document.write(divContents); 
            a.document.close(); 
            a.print(); 
            }
        } 
    document.addEventListener("DOMContentLoaded", function(event) { 
      printDiv();
    });

    </script> 
