<h1 class="title">Scheda anagrafica personale <%= @person.nome %><%= @person.cognome %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @person.cognome %>
</p>

<p>
  <strong>Battesimo:</strong>
  <%= @person.battesimo %>
</p>

<p>
  <strong>Parrocchia:</strong>
  <%= @person.parrocchia %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @person.data_di_nascita %>
</p>

<p>
  <strong>Luogo di nascita:</strong>
  <%= @person.luogo_di_nascita %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @person.padre %>
</p>

<p>
  <strong>Madre:</strong>
  <%= @person.madre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @person.telefono %>
</p>

<p>
  <strong>Cellulare:</strong>
  <%= @person.cellulare %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @person.indirizzo %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @person.comune %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @person.cap %>
</p>

<% if !@person.group.nil? %>
<p>
    <strong>Gruppo di catechismo:</strong>
    <%= @person.group.nome %> <%= $ANNO_DI_CATECHISMO[@person.group.anno] %>
  </p>
<% elsif @person.subscriptions.any? %>
<p>
    <strong>Gruppo di catechismo:</strong>
    Nessun gruppo assegnato - <%= $ANNO_DI_CATECHISMO[@person.subscriptions.last.anno] %>
  </p>
<% end %>
<br />
<%= link_to 'Nuova iscrizione al catechismo', subscription_path(id: @person.id), class: 'button is-medium is-primary' %>
<br />
<br />
<%= link_to 'Modifica dati in anagrafica', edit_person_path(@person), class: 'button is-warning ' %> |
<%= link_to 'Torna alla lista delle persone', people_path, class: 'button is-small' %>
