<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @person.cognome %>
</p>

<p>
  <strong>Battesimo:</strong>
  <%= @person.battesimo %>
</p>

<p>
  <strong>Parrocchia:</strong>
  <%= @person.parrocchia %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @person.data_di_nascita %>
</p>

<p>
  <strong>Luogo di nascita:</strong>
  <%= @person.luogo_di_nascita %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @person.padre %>
</p>

<p>
  <strong>Madre:</strong>
  <%= @person.madre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @person.telefono %>
</p>

<p>
  <strong>Cellulare:</strong>
  <%= @person.cellulare %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @person.indirizzo %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @person.comune %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @person.cap %>
</p>

<p>
  <strong>Group:</strong>
  <%= @person.group_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
