<h1 class="title is-1">Gestione catechismo</h1>
<div class="buttons">
    <%= link_to 'Nuova anagrafica (solo iscrizioni primo anno)', new_person_url, class: 'button is-info' %>

    <%= link_to 'Schede anagrafiche', people_path, class: 'button is-primary' %>

    <%= link_to 'Registro giornate', registro_path, class: 'button is-danger' %>



    <% if current_user.admin? %>
    <%== link_to(printed_path, class: 'button is-link', data: {turbolinks: false}) do %>
    <i class='fas fa-print'></i>&nbsp; Stampa
    <% end %>
    <%== link_to(printpergroup_path, class: 'button is-link', data: {turbolinks: false}) do %>
    <i class='fas fa-print'></i>&nbsp; Stampa per gruppo
    <% end %>
    <%= link_to 'Aggiungi anno', new_year_path, class: 'button is-success' %>
    <%= link_to 'Aggiungi gruppo', new_group_path, class: 'button is-success' %>
    <%= link_to 'Lista gruppi', groups_path, class: 'button is-success' %>
    <%= link_to 'Persone a cui manca un gruppo', assegnare_path, class: 'button is-success' %>
    <%= link_to new_user_registration_path, class: 'button is-success' do %>
    <i class="fas fa-user-plus"></i> &nbsp;Crea nuovo utente
    <% end %>
    <% end %>
</div>

<% if @day.nil? %>
<h1 style="text-align:center;" class="title is-5">Apri una giornata prima di incominciare ad operare</h1>
<div class="buttons is-centered">
    <%= link_to 'Apri giornata', days_new_path, class: 'button is-warning is-large', data: { turbolinks: false}%>
</div>
<p>Prima di incominciare ad operare sulle iscrizioni, è necessario aprire una nuova giornata per effettuare le operazioni di registro. Puoi continuare aprendo una giornata nulla o nascosta che si chiuderà automaticamente domani <%= link_to 'cliccando qui', days_new_path(hidden: 'hidden'), data: { turbolinks: false}%>. Le operazioni effettuate non verranno però riportate nel registro delle giornate. </p>
<% else %>
<h2 class="title is-3" style="text-align: center;">Cerca anagrafica</h2>
<%= form_with url: searchpeople_path, local: true,  method: :get do |f| %>
<div class="field">
    <%= f.label :nome, class: 'label' %>
    <%= f.text_field :nome, class: 'input' %>
</div>
<div class="field">
    <%= f.label :cognome, class: 'label' %>
    <%= f.text_field :cognome, class: 'input' %>
</div>

<%= f.submit 'Cerca', class: 'button is-primary' %>
<% end %>

<p>Per iscrivere qualcuno al catechismo, sia la prima volta che per gli anni successivi, creare o cercare l'anagrafica corrispondente, poi cliccare su "Crea iscrizione" accanto al nome.</p>

<div class="buttons is-centered">
    <%= link_to 'Chiudi giornata', days_close_path, class: 'button is-warning is-large', data: {turbolinks: false, confirm: "Chiudendo la giornata dovrai consegnare €#{@day.subscriptions.pluck(:quota).sum}. Sei sicuro di voler terminare la giornata, giusto? Se sbagliato, ricontrolla le iscrizioni fatte."} %>
</div>
<p>Per annullare un'operazione come un'iscrizione, in caso di conteggio errato, è possibile o rivolgersi al parroco che ha sempre a disposizione la funzionalità o cliccare sul tasto "Elimina", disponibile solo <b>prima</b> di aver chiuso la giornata di riferimento.</p>
<% end %>