<h1 class="title is-1">Gestione catechismo</h1>
<div class="buttons">
  <%= link_to 'Nuova anagrafica (solo iscrizioni primo anno)', new_person_url, class: 'button is-info' %>
    <%= link_to 'Schede anagrafiche', people_path, class: 'button is-danger' %>

  <% if current_user.admin? %>
    <%= link_to 'Aggiungi anno', new_year_path, class: 'button is-success' %>
  <% end %>
</div>

<h2 class="title is-3" style="text-align: center;">Cerca anagrafica</h2>
<%= form_with url: searchpeople_path, local: true,  method: :get do |f| %>
  <div class="field">
    <%= f.label :nome, class: 'label' %>
    <%= f.text_field :nome, class: 'input' %>
  </div>
  <div class="field">
    <%= f.label :cognome, class: 'label' %>
    <%= f.text_field :cognome, class: 'input' %>
  </div>
  
  <%= f.submit 'Cerca', class: 'button is-primary' %>
<% end %>

<p>Per iscrivere qualcuno al catechismo, sia la prima volta che per gli anni successivi, creare o cercare l'anagrafica corrispondente, poi cliccare su "Crea iscrizione" accanto al nome</p>